@charset "UTF-8";

* {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 50px;
}

p {
  background-color: green;
  color: black;
  border: 1px solid blue;
}
header {
  color: blueviolet;
  padding: 50%;
}
nav {
  width: 100%;
  height: 50px;
  background-color: greenyellow;
  color: white;
}

ul {
  width: 80%;
  margin: 0 auto;
  /*display: flex;*/
}
ul li {
  list-style-type: none;
  padding: 20px;
  color: white;
  display: inline-block;
}
ul li:hover {
  background-color: white;
  color: red;
}

div.toggle {
  width: 100%;
  padding: 10px 20px;
  text-align: right;
  color: white;
  font-size: 20px;
  /*기본화면(pc용 view port)에서는 toggle div box를 감추어라*/
  display: none;
}
/*
            view port 화면의 width가 768px 보다 작아지면 적용할 CSS 
            */
@media (max-width: 768px) {
  /* 768px보다 작아지면 toggle div box를 보여달라*/
  div.toggle {
    display: block;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
    color: blue;
  }

  ul li:hover {
    background-color: gray;
  }
  .active {
    display: block;
  }
}
