<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Insert title here</title>
  </head>
  <style>
    body {
      background: linear-gradient(
        #ff2a2a,
        #ff7a2a,
        #ffc52a,
        #43ff2a,
        #2a89ff,
        #202082,
        #e82aff
      );
    }
  </style>
  <body>
    <h3>&#128065;여기는 HTML Home 입니다.&#128065;</h3>
    <p th:text="${username}">&#128065;사용자 이름&#128065;</p>
    <p th:text="${tel}">&#128065;전화번호&#128065;</p>
  </body>
</html>
