#content {
  width: 2000px;
  margin: 40px auto 0 auto;
  font-size: 20px;
}

h2 {
  display: block;
  margin: 0 0 40px 0;
  padding: 15px 20px;
  font-size: 30px;
  background-color: #999;
  background-image: none;
  background-attachment: fixed;
}
div.mainImg {
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  text-align: right;
}

span {
  text-align: end;
}
.tourView {
  overflow: hidden;
  border-top: 1px solid #666;
}
.tourView .mainImg {
  width: 400px;
  max-width: 100%;
  border: 0px;
}
#content .tourView .mainImg p {
  max-width: 100%;
  resize: both;
  max-width: 500px;
  vertical-align: middle;
}
.tourView .mainImg img {
  width: 400px;
  height: 247px;
  position: fixed;
  margin: 0px;
  text-decoration: none;
}

.tourView .txtData {
  float: right;
  width: 500px;
  font-size: 20px;
  color: #666;
  margin: 0 0 20px 10px;
  padding-right: 10px;
  width: 50%;
  text-align: justify;
}
#content .tabWrap {
  overflow: hidden;
}

#content .tabWrap li {
  float: left;
  width: 100%;
  margin-top: 0px !important;
}
.tourView .summary {
  clear: both;
  padding: 50px 100px 0 10px;
}
strong.tit {
  text-align: right;
}
.summary p {
  margin-left: 0px;
  border-top: 1px solid #000;
  line-height: 1.9;
}
.summary {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  color: #000;
  text-align: justify;
}
#content .tabWrap li a span {
  display: block;
  height: 35px;
  padding-top: 8px;
}
div #btn-save {
  margin: 10px -50px;
  height: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  background-color: #666;
  color: whitesmoke;
  border-radius: 5px;
  top: 88%;
  left: 88%;
}
