@charset "utf-8";
h,
td,
tr,
input,
textarea,
select,
FORM {
  font-size: 1em;
  border-radius: 5px;
}
input {
  cursor: pointer;
  width: 270px;
  padding: 3px 5px 5px 5px;
  border: 1px solid #dcdcd7;
  border-width: 1px 0 0 1px;
  font-family: "나눔고딕", NanumGothic, NGNormal;
}
input.main-button {
  background-color: turquoise;
}

td {
  font-family: "나눔고딕", NanumGothic, NGNormal;
}

table,
FORM {
  border: 1px solid blue;
  border-spacing: 15px;
}
button {
  cursor: pointer;
  width: 270px;
  padding: 3px 5px 5px 5px;
  background-color: rgba(25, 228, 76, 0.4);
  border: 1px solid #dcdcd7;
  border-width: 1px 0 0 1px;
  font-family: "나눔고딕", NanumGothic, NGNormal;
}
